
ion-app {
    display: flex;
    flex-direction: row;
}

.search-button {
    margin-right: 0.75rem;
}

div {
    height: 100%;
}

.sidebar {
    max-width: 25%;
}

.form-control {
    background-color: #E5E9F5;
}

.main-content {
    width: 75%;
}


.daily-forecast {
    width: 90%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.thumbnail {
    width: 80px;
    height: 80px;
}

.daily-label {
    padding-top: 1.3rem;
    padding-left: 1rem;
    font-size: 36px;
    font-family: 'Nothing', normal !important;
}

.small-header {
    padding-top: 1.3rem;
    padding-left: 1rem;
    font-size: 24px;
    font-family: 'Inter', normal !important;
}

ion-card-title {
    font-family: 'Nothing', normal !important;
}

.current-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 1rem 1rem;
    border-radius: 0 0 0 5px;
    height: 36.5%;
}

.big-thumbnail {
    width: 250px;

}

.current-weather ion-card-title {
    padding-top: 3rem;
    font-size: 150px;
}

.current-conditions {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
}

.condition-one, .condition-two, .condition-three, .condition-four {
    width: 10rem;
    height: 10rem;
    border-radius: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourly-forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
}

.hourly-stats {
    padding: .5rem 1rem .5rem 1rem;
    display: flex;
    // justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.condition-one ion-card-content {
    font-size: 32px;
    padding: 0;
    font-family: 'Anothing', sans-serif !important;
}

.condition-two ion-card-content {
    font-size: 32px;
    padding: 0;
    font-family: 'Anothing', sans-serif !important;
}

.condition-three ion-card-content {
    text-align: center;
    padding: 0;
    font-size: 32px;
    font-family: 'Anothing', sans-serif !important;
}

.condition-four ion-card-content {
    text-align: center;
    padding: 0;
    font-size: 32px;
    font-family: 'Anothing', sans-serif !important;
}

.top-content {
    margin-top: 2rem;
}

::-webkit-scrollbar {
    width: 1px;
  }

  .text-end {
    display: flex;
    justify-content: end;
  }
